:root {
    --bg-color: hsl(30, 60%, 60%);
    --bg-dark-color: hsl(30, 60%, 40%);
    --bg-highlight-color: hsl(25, 80%, 60%);
    --navitem-bg-hover-color: hsl(100, 0%, 20%);
    --navitem-text-hover-color: white;
    --warning-color: hsl(350, 80%, 45%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
}

nav a, footer a, aside a {
    text-decoration: none;
    color: black;
}

section ul {
    padding: revert;
    margin-block: 1rem;
}

h1 {
    font-size: 2rem;
    padding-block: 1em;
}

h2 {
    font-size: 1.5rem;
    padding-block: 1em;
}

h3 {
    padding-block: 1em;
}

hr {
    border: none;
    border-top: solid 3px black;
    margin-block: 2rem;
    position: relative;
}

hr::after {
    content: "";
    border: none;
    border-top: solid 1px rgb(30, 30, 30);
    margin: .5rem 15% 0px 15%;
    height: .5rem;
    width: 70%;
    display: inline-block;
}

/* #region Navigation Bar */
nav {
    background-color: var(--bg-dark-color);
    width: 100%;
    height: 10vh;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    z-index: 9999;
    transition: top .5s;
}

.nav_logo {
    padding: 1rem 1.5rem;
    text-align: center;
}

.nav_logo img {
    max-height: 100%;
    object-fit: fill;
}

.nav_search_bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: .8;
}

.nav_search_bar img{
    display: none;
    text-align: center;
    width: 2rem;
    margin: 0px 1rem;
    max-height: 100%;
    object-fit: fill;
}

.nav_search_bar input {
    margin: auto;
    align-self: center;
    flex-grow: 1;
    transform: scaleY(1.2);
    width: 100%;
}

#nav_list {
    background-color: var(--bg-dark-color);
    list-style-type: none;
    position: absolute;
    padding: 0px;
    width: 200px;
    height: auto;
    max-height: 0px;
    max-width: 0px;
    top: 10vh;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    transition: max-width .5s, max-height .5s, background-color .5s;
    text-align: center;
    z-index: 20;
}

#desk_nav_list {
    background-color: var(--bg-dark-color);
    position: relative;
    list-style-type: none;
    padding: 0px;
    display: none;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

#desk_nav_list a:hover {
    background-color: var(--navitem-bg-hover-color);
    color: var(--navitem-text-hover-color);
}

#nav_list a {
    width: 100%;
    height: 5rem;
    padding-top: 2rem;
    border-bottom: solid 1px black;
}

#nav_list a:last-child {
    border: none;
}

.nav_hb_menu_dropdown {
    padding: 1rem;
    position: relative;
    display: inline-block;
    transition: background-color .5s;
}

.nav_hb_menu_dropdown img {
    max-height: 100%;
    object-fit: fill;
}

#destinations_dropdown {
    position: relative;
}

#destinations_dropdown_content {
    background-color: var(--bg-dark-color);
    list-style-type: none;
    padding: 1em 0px;
    position: absolute;
    top: 10vh;
    left: 0px;
    display: none;
    flex-direction: column;
}

#destinations_dropdown:hover + #destinations_dropdown_content {
    display: flex;
}

#destinations_dropdown_content:hover {
    display: flex;
}
/* #endregion */

main {
    background-color: var(--bg-color);
    display: flex;
}

main > section {
    width: 70%;
}

.references_main {
    display: block;
    width: 100%;
    padding: 3rem 3rem 3rem 1rem;
}

.content {
    flex-grow: 1;
    padding: .5rem;
}

.content p{
    text-align: justify;
    margin-block: 1em;
}

.content img {
    width: 100%;
}

#zone_map {
    float: right;
    width: 30vw;
    margin: 5px;
}

.specs_table {
    border: solid 1px black;
    margin-block: 1rem;
}

.specs_table th {
    border-bottom: solid 3px black;
}

.specs_table td {
    border-bottom: solid 1px black;
}

.mobile_google_map {
    width: 100%;
}

.summary {
    font-style: italic;
    padding-inline: 1em;
    border-bottom: solid 2px hsla(230, 0%, 50%, 1);
}

#sidemaps {
    background-color: var(--bg-dark-color);
    display: none;
    position: fixed;
    right: -40vw;
    bottom: 0px;
    padding: .5rem;
    width: 40vw;
    transition: right .3s;
}

#sidemaps_expand {
    background-color: var(--bg-dark-color);
    position: absolute;
    width: 60px;
    padding: .2rem;
    left: -60px;
    bottom: 0px;
}

#sidemaps_expand i {
    font-size: 50px;
}

/* #region Aside */
aside {
    background-color: var(--bg-color);
    position: fixed;
    padding: .5em;
    width: 80vw;
    height: 90vh;
    left: -80vw;
    top: 10vh;
    border-right: solid 1px black;
    overflow: scroll;
    transition: left .3s;
    z-index: 5;
}

aside ul {
    list-style-type: none;
    padding: 0px;
    padding-left: 1em;
}

aside li {
    margin-block: 1em;
}

aside a {
    width: 100%;
}

aside a:hover {
    text-decoration: underline;
}

.aside_expand {
    background-color: var(--bg-dark-color);
    position: fixed;
    padding: 2px;
    left: 0px;
    bottom: 0px;
    transition: left .3s;
}

.aside_expand i {
    font-size: 9vw;
}
/* #endregion */

/* #region Footer */
footer {
    background-color: var(--bg-color);
    border-top: solid 1px black;
    width: 100%;
    padding: 0px 10%;
    display: flex;
    justify-content: space-between;
}

footer img {
    width: 16px;
}

.social_links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-between;
    padding: .8rem .4rem;
}

.social_links a {
    margin-bottom: .8rem;
    /* float: left;
    font-size: 80%; */
}

.contact {
    padding: .8rem .4rem;
}

.source_links {
    padding: .8rem .4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.source_links a {
    margin-bottom: .8rem;
}
/* #endregion */

::-webkit-scrollbar {
    width: 0px;
}

/* ::-webkit-scrollbar-thumb {
    background-color: hsl(100, 0%, 20%);
} */

/* PSEUDO SCROLLBAR --------- TODO
.body_scrollbar {
    width: .5em;
    height: 100%;
    background-color: white;
    border-radius: 100vw;
    border: solid 2px dimgray;
    position: absolute;
    right: 0px;
} */

/* #region Index */
.index_main {
    width: 100%;
    background-color: var(--bg-color);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.index_main section {
    width: 80%;
}

/* #region Index Main Bienvenida */
.welcome {
    padding: 5rem 0px;
    text-align: center;
}

.welcome * {
    margin: 1rem 0px;
}

.welcome input {
    height: 2rem;
    width: 100%;
    padding: .2rem;
}
/* #endregion */

/* #region Index Main Hot Spots */
.hot_spots {
    text-align: center;
    padding: 5rem 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hot_spot_item {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 2px black;
    border-radius: 10px;
    margin: 1rem 0px;
    transition: transform .3s, box-shadow .3s;
    transition-timing-function: ease-out;
    z-index: 4;
}

.hot_spot_item:hover {
    transform: scale(1.2);
    z-index: 0;
    box-shadow: 0 0 10px cyan;
}

.hot_spot_text {
    color: orange;
    padding: 4rem 0px;
    background-color: rgba(30, 30, 30, .5);
}

.hot_spot_drop {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: black;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: right .3s, border .3s;
    z-index: -5;
}

.hot_spot_item_bg_img {
    max-height: 100%;
    object-fit: cover;
}

.hot_spot_item:hover .hot_spot_drop{
    right: -10px;
    box-shadow: 0 0 10px cyan;
}
/* #endregion */

/* #endregion */

.warning {
    color: var(--warning-color);
    /* text-shadow: 0 0 2px black; */
}

#showcase_display {
    display: none;
}

@media only screen and (max-height: 320px) {
    nav {
        height: 20vh;
    }

    .nav_search_bar {
        flex-grow: .7;
    }

    #nav_list {
        flex-direction: row;
        width: 50vw;
        top: 20vh;
    }

    #nav_list a {
        border-bottom: none;
        border-right: solid 1px black;
    }

    aside {
        top: 20vh;
    }

    .aside_expand img {
        width: 5vw;
    }
}

@media only screen and (min-width: 426px) {
    .hot_spots {
        display: grid;
        row-gap: 2rem;
        column-gap: 3%;
        grid-template-columns: 24% 24% 24%;
        grid-template-rows: 3rem;
    }

    .hot_spots_title {
        grid-area: 1 / 1 / span 1 / span 3;
    }
    
    .hot_spot_item {
        width: 100%;
        height: 100%;
        margin: 0px;
    }

    #zone_map {
        width: 20%;
    }

    .content {
        padding-inline: 10%;
    }

    .content img {
        width: 100%;
    }

    .img_group img {
        width: 49%;
    }

    iframe {
        height: 300px;
    }
}

@media only screen and (min-width: 769px) {
    .nav_search_bar {
        flex-grow: 0;
    }

    .nav_search_bar img {
        display: block;
    }

    .nav_hb_menu_dropdown {
        display: none;
    }

    #desk_nav_list {
        display: flex;
    }

    #desk_nav_list a {
        padding: 4vh 0px;
        height: 100%;
        width: 7rem;
    }

    aside {
        position: sticky;
        width: 20vw;
        left: 0px;
    }

    .aside_expand {
        display: none;
    }

    #mobile_maps {
        display: none;
    }

    #sidemaps {
        display: block;
    }

    /* #region Fooling around */
    #showcase_display {
        display: block;
        margin-left: -16.74%;
        margin-top: -1.18%;
        width: 80vw;
    }

    #showcase {
        position: relative;
        height: 40vh;
        padding: 0px;
        margin: 0px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: stretch;
    }

    .showcase_container {
        background-size: 100%;
        background-position: 0 50%;
        box-shadow: 0;
        position: absolute;
        left: 0px;
        width: 100%;
        height: 100%;
        padding: 2em;
        overflow: hidden;
        z-index: 5;
        transition: clip-path .5s, z-index .6s, background-position .5s, background-size .5s, background-color .5s, box-shadow .5s;
        transition-timing-function: ease-out;
    }

    .showcase_container * {
        display: hidden;
    }

    .showcase_container_title {
        text-align: end;
        text-shadow: 2px 2px 0 whitesmoke;
        text-decoration: underline, solid;
        font-style: italic;
        position: relative;
        left: -200%;
        transition: left .3s ease-in;
    }

    .showcase_container_text {
        color: white;
        text-shadow: 1px 1px 0 black;
        font-style: italic;
        position: relative;
        left: -200%;
        transition: left 1s cubic-bezier(.86,.08,.71,1);
    }

    #showcase_adder_container {
        position: absolute;
        right: 0;
        bottom: -32px;
    }

    .showcase_container:hover {
        background-color: rgba(30, 30, 30, .3);
        background-size: 110%;
        background-position: 20% 50%;
        box-shadow: inset 0 0 100px rgba(30, 30, 30, 1);
        z-index: 10;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%) !important;
        transition: clip-path .5s, z-index .01s, background-size .5s, background-color .5s;
    }

    .showcase_container:hover * {
        display: block;
    }

    .showcase_container:hover .showcase_container_title, .showcase_container:hover .showcase_container_text {
        left: 0px;
    }

    /* .adder {
        background-color: darkgreen;
        color: white;
        font-size: 16px;
        text-align: center;
        width: 30px;
        padding: .2em;
        border: 3px solid darkgreen;
        transition: background-color .5s, color .5s;
    }

    .adder:hover {
        background-color: white;
        color: black;
    }

    .remover {
        background-color: darkred;
        color: white;
        font-size: 16px;
        text-align: center;
        width: 30px;
        padding: .2em;
        border: 3px solid darkred;
        transition: background-color .5s, color .5s;
    }

    .remover:hover {
        background-color: white;
        color: black;
    } */
    /* #endregion */
}